<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Website - About</title>
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    <body>
        <h1>Ramona Stanberry</h1>
        <p>I am a 20 year old in the 2nd year of my studies at the University of the West Indies. At the end of my college program, I hope to graduate with honors in Computer Science, which signifies me conquering "The Beast of Computing". I grew up in the "Sunshine City" of Jamaica, Portmore, St. Catherine, where I was mended into a jovial, helpful and adventurous person. That has paved the way to my interests as most of my teen years were spent in multiple service organizations. Now, my adventurous side has led me to Web Development because it seems interesting and has intrigued me.</p>
    </body>
</html>